.main {
	/* display: flex; */
	/* flex-direction: column; */
	/* justify-content: space-between; */
	/* align-items: center; */
	padding: 2rem;
	min-height: 100vh;
}

.main div {
	background-color: lightgray;
	margin-inline: -2rem;
	padding: 1rem;
	text-align: center;
}

.main button {
	border-radius: 8px;
	padding: 0.25rem 0.5rem;
}

.main li {
	margin-top: 0.5rem;
}

.main span {
	text-decoration: underline;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

@media (prefers-reduced-motion) {
}

/* Mobile */
@media (max-width: 700px) {
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}

@media (prefers-color-scheme: dark) {
}
